@model Model.EF.User

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section header{

    Cập Nhật Người Dùng

}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Nhập Thông Tin Người Dùng
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        @using (Html.BeginForm("Edit", "User", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                         
                            @Html.ValidationSummary(true, "", new {@class="text-danger" })

                            <div class="form-group">

                                @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-3" })

                                @Html.TextBoxFor(model => model.UserName)
                                @Html.ValidationMessageFor(model => model.UserName)

                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PassWord, new { @class = "control-label col-md-3" })

                                @Html.PasswordFor(model => model.PassWord)
                                @Html.ValidationMessageFor(model => model.PassWord)

                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-3" })

                                @Html.TextBoxFor(model => model.Name)
                                @Html.ValidationMessageFor(model => model.Name)

                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-3" })

                                @Html.TextBoxFor(model => model.Address)
                                @Html.ValidationMessageFor(model => model.Address)

                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-3" })

                                @Html.TextBoxFor(model => model.Email)
                                @Html.ValidationMessageFor(model => model.Email)

                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Phone, new { @class = "control-label col-md-3" })

                                @Html.TextBoxFor(model => model.Phone)
                                @Html.ValidationMessageFor(model => model.Phone)

                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-3" })

                                @Html.CheckBoxFor(model => model.Status)
                                @Html.ValidationMessageFor(model => model.Status)

                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-10">
                                    <input type="submit" value="Cập Nhật" class="btn btn-danger" />
                                </div>
                            </div>

                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
